.body {
    margin: 0;
    padding: 0;
}

.talks p{
    display: flex;
    flex-direction: column;
    font-family: fantasy;
    background-color: lightskyblue;
    color: black;
    font-size: 15px;
    
}